<section>
<div id="about-me" class="my-5 py-6" appRevealOnScroll>
	<h2 id="about" class="fw-bold text-center mb-3">Sobre-mim</h2>
	<p class="lead text-body-secondary col-md-10 mx-auto text-center">Apaixonado por tecnologia, especialmente pelo ecossistema Linux e a cultura Open-Source. Meu objetivo é criar soluções que funcionem de verdade, com interfaces intuitivas, código limpo e organizado.</p>
	<p class="lead text-body-secondary col-md-10 mx-auto text-center">Atualmente, atuo como desenvolvedor na <a href="https://www.faesa.br">Faesa</a>, criando sistemas com Laravel e React. Também possuo experiência sólida com Angular em projetos anteriores, o que me proporciona versatilidade para transitar entre diferentes stacks de desenvolvimento.</p>
</div>
</section>
