<header>
  <div id="header"
    class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start gap-4 gap-sm-5">

    <img id="profile-picture" ngSrc="./assets/profile.png" width="150" height="150" alt="Foto de Perfil"
      draggable="false">

    <div id="profile-info" class="text-center text-sm-start">
      <div id="profile-info-1">
        <h2 id="" class="text-body-emphasis h1">Vinícius Cavati Gobbi</h2>
        <h5 class="text-body-secondary fst-italic fw-lighter">Estudante de Ciência da Computação | Desenvolvedor Full-Stack |
          Amante de tecnologia e Open-Source</h5>
      </div>

      <div id="profile-info-2" class="d-flex flex-column gap-3 mt-3">

        <div id="profile-info-socials"
          class="d-flex flex-row justify-content-center justify-content-sm-start align-items-center gap-3">
          <a href="https://linkedin.com/in/vinicgobbi" target="_blank" class="text-decoration-none text-body-emphasis"
            title="LinkedIn">
            <i class="bi bi-linkedin fs-4"></i>
          </a>
          <a href="https://github.com/vinicgobbi" target="_blank" class="text-decoration-none text-body-emphasis"
            title="GitHub">
            <i class="bi bi-github fs-4"></i>
          </a>

          <button (click)="imprimirCV()" class="btn btn-outline-secondary ms-sm-3" download>
            <i class="bi bi-download"></i> Baixar CV
          </button>
        </div>
        <div id="profile-info-local"
          class="d-flex flex-row justify-content-center justify-content-sm-start align-items-center gap-2 text-secondary">
          <i class="bi bi-geo-alt"></i>
          <p class="m-0 p-0">Cariacica, Espirito Santo - Brasil</p>
          |
          <i class="bi bi-quote"></i>
          <p class="m-0 p-0">"Talk is cheap. Show me the code." - Torvalds, Linus</p>
        </div>
      </div>
    </div>
  </div>
</header>
