<section>
  <div id="profile-stacks" class="container my-5 py-6" appRevealOnScroll>
    <div class="text-center">
      <h2 id="stacks" class="fw-bold mb-5">Stacks que uso no dia a dia:</h2>
    </div>

    <div id="profile-stacks-list" class="d-flex flex-wrap justify-content-center align-items-start gap-5">

      <div class="stack-group text-center">
        <h4 class="stack-group-title">Linguagens</h4>
        <div class="d-flex justify-content-center flex-wrap gap-4 mt-3">
          <i class="devicon-javascript-plain colored display-4" title="JavaScript"></i>
          <i class="devicon-typescript-plain colored display-4" title="TypeScript"></i>
          <i class="devicon-php-plain colored display-4" title="PHP"></i>
          <i class="devicon-python-plain colored display-4" title="Python"></i>
        </div>
      </div>

      <div class="stack-group text-center">
        <h4 class="stack-group-title">Frameworks & Bibliotecas</h4>
        <div class="d-flex justify-content-center flex-wrap gap-4 mt-3">
          <i class="devicon-react-original colored display-4" title="React"></i>
          <i class="devicon-angular-plain colored display-4" title="Angular"></i>
          <i class="devicon-laravel-original colored display-4" title="Laravel"></i>
          <i class="devicon-bootstrap-plain colored display-4" title="Bootstrap"></i>
        </div>
      </div>

      <div class="stack-group text-center">
        <h4 class="stack-group-title">Banco de Dados & API</h4>
        <div class="d-flex justify-content-center flex-wrap gap-4 mt-3">
          <i class="devicon-microsoftsqlserver-plain colored display-4" title="MS SQL Server"></i>
          <i class="devicon-mysql-original colored display-4" title="MySQL"></i>
          <i class="devicon-postman-plain colored display-4" title="Postman"></i>
        </div>
      </div>

      <div class="stack-group text-center">
        <h4 class="stack-group-title">DevOps & Versionamento</h4>
        <div class="d-flex justify-content-center flex-wrap gap-4 mt-3">
          <i class="devicon-docker-plain colored display-4" title="Docker"></i>
          <i class="devicon-git-plain colored display-4" title="Git"></i>
          <i class="devicon-github-original display-4" title="GitHub"></i>
        </div>
      </div>

      <div class="stack-group text-center">
        <h4 class="stack-group-title">Ambiente & Ferramentas</h4>
        <div class="d-flex justify-content-center flex-wrap gap-4 mt-3">
          <i class="devicon-pnpm-plain-wordmark colored display-4" title="PNPM"></i>
          <i class="devicon-vscode-plain colored display-4" title="VS Code"></i>
          <i class="devicon-linux-plain display-4" title="Linux"></i>
          <i class="devicon-windows11-original colored display-4" title="Windows"></i>
          <i class="devicon-zsh-plain-wordmark display-4" title="ZSH"></i>
        </div>
      </div>

    </div>
  </div>
</section>
