<section>
  <div id="experience" class="container my-5 py-6" appRevealOnScroll>
    <div class="text-center mb-5">
      <h2 class="fw-bold">Experiência Profissional</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">

        <div class="row mb-4">
          <div class="col-md-3 text-md-end">
            <h5 class="text-muted">Jul 2025 - Presente</h5>
          </div>
          <div class="col-md-9 border-start ps-4">
            <h4 class="fw-bold">Desenvolvedor Full-Stack (Estagiário)</h4>
            <p class="text-muted">FAESA</p>
            <ul class="list-unstyled mt-2">
              <li><i class="bi bi-caret-right-fill text-primary"></i> Atuação no desenvolvimento Full-Stack de sistemas acadêmicos e administrativos utilizando Laravel (PHP), React e JavaScript</li>
              <li><i class="bi bi-caret-right-fill text-primary"></i> Modelagem de dados, gerenciamento de banco de dados SQL Server e criação de Stored Procedures para automação de rotinas e notificações</li>
              <li><i class="bi bi-caret-right-fill text-primary"></i> Criação, manutenção e integração de APIs RESTful para comunicação eficiente entre sistemas internos</li>
              <li><i class="bi bi-caret-right-fill text-primary"></i> Administração de chamados técnicos e suporte nível 2 via plataforma GLPI, garantindo a resolução de falhas em ambiente de produção</li>
            </ul>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-3 text-md-end">
            <h5 class="text-muted">Nov 2022 - Jul 2025</h5>
          </div>
          <div class="col-md-9 border-start ps-4">
            <h4 class="fw-bold">Assistente / Auxiliar de PCM</h4>
            <p class="text-muted">Oi Alimentos</p>
            <ul class="list-unstyled mt-2">
              <li><i class="bi bi-caret-right-fill text-primary"></i> Promovido de Jovem Aprendiz para Auxiliar e, posteriormente, para Assistente, demonstrando rápido aprendizado e adaptação.</li>
              <li><i class="bi bi-caret-right-fill text-primary"></i> Controle de Ordens de Serviço com o sistema Engeman</li>
              <li><i class="bi bi-caret-right-fill text-primary"></i> Requisição de materiais com o sistema Agrosys</li>
              <li><i class="bi bi-caret-right-fill text-primary"></i> Atendimento a Solicitações de Serviço baseado em prioridade</li>
              <li><i class="bi bi-caret-right-fill text-primary"></i> Rotinas organizacionais através do método Kanban
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
